@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('Assets/Images/im01.jpg');
    background-size: cover;
    color: #fff;
    padding: 40px;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

header button {
    padding: 10px 20px;
    background-color: #fff;
    color: rgb(137, 235, 238);
    border: none;
    margin-bottom: 30px;
    outline: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    cursor: pointer;
}



footer {
    margin-top: 4px;
    border-top: 5px solid #e976bd;
    background-color: rgb(158, 52, 135);
    color: rgb(226, 19, 160);
    padding: 1px 100px;
    font-size: 15px;
}

footer h1 {
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid rgb(161, 109, 109);
    width: 20%;
    padding-bottom: 5px;
}

footer .services {
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}

footer .services .service {
    margin-right: 30px;
}

footer .services .service p {
    max-width: 300px;
}

footer #contact {
    color: rgb(85, 151, 172);
}

ti {
    color: rgba(133, 7, 95, 0.897);
    font-weight: bold;
    align-items: center;
    font-size: 25px;
}

hi {
    color: rgba(11, 5, 94, 0.897);
    align-items: center;
    font-size: 30px;
}

.div_image {
    width: 45px;
    height: 40px;
    overflow: auto;
}


/*        ************************* */
/*
table, th, td {
    border: 1px solid black;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

SELECT {
    font-size: 230x;
}



.star {
    color: rgba(19, 209, 67, 0.897);
    align-items: center;
    font-size: 10px;

}


#Resumer_livre {
    color: rgba(3, 19, 7, 0.897);
    align-items: center;
    width: 100%;
    height: 200px;
    size-adjust: true;

    font-size: 25px;

}

.trtd {
    color: rgba(19, 209, 67, 0.897);
    align-items: center;
    font-size: 30px;

}

.titre1 {
    color: rgba(41, 9, 129, 0.897);
    align-items: center;
    font-size: 15px;

}

.titre2 {
    color: rgba(19, 209, 67, 0.897);
    align-items: center;
    font-size: 30px;
}

.titre3 {
    color: rgba(15, 6, 66, 0.897);
    align-items: center;
    font-size: 20px;
}

.td_Star {
    width: 30%;
    align-items: center;
    font-size: 15px;
}

.td_dtailee_livre {
    text-align: center;
    font: 28px "Marker Felt", "Zapfino", cursive;
    color: rgb(7, 17, 114);
    font-size: 20px;
}
*/
.table_1 {

    border: 10px solid rgba(4, 40, 160, 0.288);

    margin: auto;
    background-color: rgba(69, 212, 170, 0.26);
    width: 100%;
    border-style: 10px;

    border-collapse: collapse;
}

div {
    margin-bottom: 10px;
    position: relative;
}

p {
    font-size: 80%;
    color: #999;
}

input+span {
    padding-right: 30px;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}

.table_A {
    border-collapse: collapse;
    border: 5px solid rgba(4, 40, 160, 0.288);

    margin: auto;
    background-color: rgba(121, 156, 93, 0.26);
    width: 90%;
    margin-bottom: 20px;
    border-spacing: 5px 5px 5px 5px;
}

.table_0 {
    border-collapse: collapse;
    border: 0px solid rgba(4, 40, 160, 0.288);

    margin: auto;
    width: 97%;

    border-spacing: 5px 5px 5px 5px;
    margin: 20px;
    border-collapse: separate;
}

.td_livre {

    width: 50%;
    border: 1px solid rgb(51, 17, 204);
}

.tr_livre {

    width: 50%;
    border: 1px solid rgb(179, 11, 33);
}


.td_auteur {

    width: 100%;
}

.td_livre2 {

    width: 50%;


}

*/ .table_2 {
    border: 2;
}

.td_30 {
    width: 50%;
}

.sommaire {
    font: 20px "Marker Felt", "Zapfino", cursive;
    background-color: rgba(233, 168, 204, 0.377);
    box-sizing: border-box;
}

.td_31 {
    width: 90%;
}

.td_3b {
    width: 90%;
}

SELECT.select_Note {
    margin-left: 30px;
    margin-right: 200px;
}

input.find {
    margin-left: 25px;

}

tr.td_3b {
    display: block;
    margin-left: auto;
    align-items: center;
    margin-right: auto;
}



.Prix_ {

    text-align: center;
    font: 28px "Marker Felt", "Zapfino", cursive;
    color: rgb(25, 46, 231);
    font-size: 25px;
}

.im {
    width: 200;
    height: 300;
}

*/
/*Reset CSS*/
/*
* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
*/

nav {
    width: 100%;
    margin-left: 5%;
    ;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 15%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: rgb(182, 113, 10);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    align-items: right;
    margin-top: 3px;
    margin-left: 30px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    color: #090ca0;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}

.conteneur {
    margin: 50px 20px;
    height: 1500px;
}